@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Header */
/* nav style */

.open-sans-body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* nav text style */
  .text{
    color: #FD6E0A;
  }
  /* header */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
nav{
    margin: 0px 200px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
ul{
    display: flex;
    align-items: center;
}
nav ul li {
    margin-right: 50px;
    list-style: none;
    /* text-decoration: none; */
}
/* common styles */
.text-center{
    text-align: center;
}
.secondary-bg{
    background-color: #FFF8F3;

}

.dark-3{
    color: #757575;
}
.dark-2{
    color: #474747;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #000000;
} 
.section-description{
    font-weight: 18px;
    color: #757575;
}  
nav li a{
    text-decoration: none;
}
/* button */
.btn{
    font-size: large;
    color: white;
    background-color: #FD6E0A;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
/* header */
/* banner */

.banner{
    justify-content: space-between;
    margin: 0 35px 0 230px;
    display: flex;
}
.banner-cont{
    max-width: 580px;
}
.ban-gre{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-cont .cv a{
    
    text-decoration: none;
    color: white;
}
/* banner profile */
.ban-pro-pic{
    width: 580px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about */
.about{
    padding: 30px 60px;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;

}
/* about item */
.item-des{
    font-weight: 600;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
/* what  i do */

/* technology */
.tecnology{
    margin-top: 10px;
    gap: 24px;
    /* justify-content: space-around; */
    display: flex;
}
.tec-item{
    /* border: 2px solid red; */
    /* gap: 24px; */
    box-shadow: 0px 6px 50px 0px #D1D1D1;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;

}

/* resume section */
/* res{
 display: flex;
}. */
.res-title{
    font-weight: bold;
}
.res{
    /* align-items: center; */
    justify-content: space-around;

    display: flex;
}
.rc{
    width: 300px;
    
}
/* button resume */
.btn-res{
    margin-top: 10px;
    text-align: center;
}
/* foot styles */
.foot{
    margin-top: 10px;
    background-color: #FFF8F3;
    /* align-items: center; */
    justify-content: space-around;
    display: flex;
}
.foot-cont label{
    border-radius: 5px;
    margin-top: 10px;
     display: block;
}
.foot-cont{
    margin: 5px auto;
    /* width: fit-content; */
}
.foot-cont .foot-p{
   max-width: 250px;  
}
#mes{
    height: 100px;
}
/* .last{
    background-color: #FD6E0A;
    border-radius: 5px;
} */
 /* resposive media */
 .hide{
    display: none;
 }
 @media screen and (max-width: 576px) {
    .tecnology , nav , .foot , .res , .about-items {
        flex-direction: column;
    }
 }